<h1><%=t('todo.title')%></h1>

<button><%= link_to t('todo.newTask'), new_task_path %></button>
<ul>
    <% @tasks.each do |task|%>
        <li>
            <%= link_to task.name, task_path(task) %>
        </li>
    <% end %>
</ul>