<%= render "header" %>
<div class='flex flex-col items-start px-40'>
    <div class='py-10 text-5xl'>
        <%= t('todo.edit_user')%>
    </div>

    <%= render "form", user:@user, type:"edit"%>
</div>